<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image">
        <div class="caption">
            <h1>Movie Note-Taker!</h1>
            <p>Keep notes on your favorite movies...</p>
            <div class="container">
            <div id="message" class="alert alert-success" role="alert">Welcome to Movie Note Taker - search for a movie...</div>
            </div>
        </div>
    </div>
</div>

<div class="containerBackground">

    <div class="container">

        <div class="card">
            <div class="card-header">Search a movie title to scrape:</div>

            <div class="card-body">
                <form class="search-form">
                    <div class="form-group">
                        <input type="text" id="movie-search" name="name" placeholder='Enter movie to search for...'>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </div>
            </div>
            </form>

        </div>


        <div class="card">
            <div class="card-header">Movie List</div>
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Title</th>
                            <th>Overview</th>
                            <th>Release Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each movies}}
                        <tr>
                            <td><a href=https://www.themoviedb.org{{ link }}> <img src={{ image }}></a></td>
                            <td>{{ title }}</td>
                            <td>{{ overview }}</td>
                            <td>{{ release_date }}</td>
                            <td>
                                <i id={{ _id }} class="fas fa-trash-alt float-right text-danger"></i>
                                {{#if note}}
                                    <i data-id={{ _id }} class="fas fa-file-alt text-success addnote"></i>
                                {{else}}
                                    <i data-id={{ _id }} class="fas fa-file text-muted addnote"></i>
                                {{/if}}


                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add a note to this movie</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div id="notes" class="modal-body">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>